@import 'tailwindcss';

/* styles/globals.css */
.menu-item-active {
  @apply bg-teal-500 text-white;
}

.menu-item-inactive {
  @apply text-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700;
}

.menu-item-icon-active {
  @apply text-white;
}

.menu-item-icon-inactive {
  @apply text-gray-600;
}

.menu-dropdown-item-active {
  @apply bg-teal-500 text-white;
}

.menu-dropdown-item-inactive {
  @apply text-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700;
}

.menu-dropdown-badge-active {
  @apply text-white;
}

.menu-dropdown-badge-inactive {
  @apply text-gray-400;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.4);
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 116, 139, 0.7);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 116, 139, 0.4) transparent;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  display: flex;
  width: max-content;
  animation: marqueeLoop 20s linear infinite;
}

@keyframes marqueeLoop {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}